.headerBar {
  background-color: #2d3436;
}

.footer {
  background-color: #2d3436;
}

.footerBar {
  background-color: #2d3436;
}

.changeThemeBtn {
  background-color: white;
  color: #2d3436;
}

.changeThemeBtn:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}

#app-container {
  color: #DE6262;
  background: #000; /* fallback for old browsers */
}

.mainContentLayout {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 25px 0 rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 500px) {
  .footerBar {
    background-color: #2d3436;
  }

  .changeThemeBtn {
    background-color: white;
    color: #2d3436;
  }
}

.pack-name {
  color: #DE6262;
}


.button {
  background: white;
  color: #2d3436;
}


.ripple {
  color: #DE6262;
}

.ripple:hover {
  background: #3e4547 radial-gradient(circle, transparent 1%, #3e4547 1%) center/15000%;
}

.ripple:active {
  background-color: #fff;
}

.custom-button {
  background-color: #000;
}
